<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zshop.dao.ICategorySecondDao" >
  <resultMap id="BaseResultMap" type="com.zshop.model.CategorySecond" >
    <id column="csid" property="csid" jdbcType="INTEGER" />
    <result column="csname" property="csname" jdbcType="VARCHAR" />
    <association property="category" column="cid" select="com.zshop.dao.ICategoryDao.selectById"/>
  </resultMap>
  <sql id="Base_Column_List" >
    csid, csname, cid
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from categorysecond
    where csid = #{csid,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from categorysecond
    where csid = #{csid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zshop.model.CategorySecond" >
    insert into categorysecond (csid, csname, cid
      )
    values (#{csid,jdbcType=INTEGER}, #{csname,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateById" parameterType="com.zshop.model.CategorySecond" >
    update categorysecond
    set csname = #{csname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER}
    where csid = #{csid,jdbcType=INTEGER}
  </update>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*) from categorysecond
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from categorysecond
    where csname = #{cname,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from categorysecond
  </select>
  <select id="selectByCid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from categorysecond
    where cid = #{cid,jdbcType=INTEGER}
  </select>
</mapper>