<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zshop.dao.IOrderItemDao">
    <resultMap id="BaseResultMap" type="com.zshop.model.OrderItem">
        <id column="itemid" property="oiid" jdbcType="INTEGER"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="sub_total" property="subTotal" jdbcType="REAL"/>
        <result column="buy_price" property="buyPrice" jdbcType="REAL"/>
        <association property="order" column="oid" select="com.zshop.dao.IOrderDao.selectById"/>
        <association property="product" column="pid" select="com.zshop.dao.IProductDao.selectById"/>
        <!--<result column="oid" property="oid" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />-->
    </resultMap>
    <sql id="Base_Column_List">
    itemid, count, sub_total, oid, pid, buy_price
  </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from orderitems
        where itemid = #{oiid,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from orderitems
    where itemid = #{oiid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zshop.model.OrderItem">
    insert into orderitems (count, sub_total, oid, pid, buy_price)
    values (#{count,jdbcType=INTEGER}, #{subTotal,jdbcType=REAL},
      #{oid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{buyPrice,jdbcType=REAL})
  </insert>
    <!--<insert id="insertSelective" parameterType="com.zshop.model.OrderItem" >
      insert into orderitems
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="itemid != null" >
          itemid,
        </if>
        <if test="count != null" >
          count,
        </if>
        <if test="subTotal != null" >
          sub_total,
        </if>
        <if test="oid != null" >
          oid,
        </if>
        <if test="pid != null" >
          pid,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="itemid != null" >
          #{itemid,jdbcType=INTEGER},
        </if>
        <if test="count != null" >
          #{count,jdbcType=INTEGER},
        </if>
        <if test="subTotal != null" >
          #{subTotal,jdbcType=REAL},
        </if>
        <if test="oid != null" >
          #{oid,jdbcType=INTEGER},
        </if>
        <if test="pid != null" >
          #{pid,jdbcType=INTEGER},
        </if>
      </trim>
    </insert>-->
    <!--<update id="updateByIdSelective" parameterType="com.zshop.model.OrderItem" >
      update orderitems
      <set >
        <if test="count != null" >
          count = #{count,jdbcType=INTEGER},
        </if>
        <if test="subTotal != null" >
          sub_total = #{subTotal,jdbcType=REAL},
        </if>
        <if test="oid != null" >
          oid = #{oid,jdbcType=INTEGER},
        </if>
        <if test="pid != null" >
          pid = #{pid,jdbcType=INTEGER},
        </if>
      </set>
      where itemid = #{itemid,jdbcType=INTEGER}
    </update>-->
    <update id="updateById" parameterType="com.zshop.model.OrderItem">
    update orderitems
    set count = #{count,jdbcType=INTEGER},
      sub_total = #{subTotal,jdbcType=REAL},
      oid = #{oid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      buy_price = #{buyPrice,jdbcType=REAL}
    where itemid = #{oiid,jdbcType=INTEGER}
  </update>
    <select id="count" resultType="java.lang.Integer">
    SELECT count(*) FROM orderitems
  </select>
    <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orderitems
        where oid = #{oid,jdbcType=INTEGER}
    </select>
</mapper>