<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zshop.dao.IProductDao">
    <resultMap id="BaseResultMap" type="com.zshop.model.Product">
        <id column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="REAL"/>
        <result column="inventory" property="inventory" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="csid" property="csid" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="BIT"/>
        <result column="buy_price" property="buyPrice" jdbcType="REAL"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    pid, pname, price, inventory, image, comment, create_time, csid, state, buy_price, code
  </sql>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from product
        where pid = #{pid,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from product
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zshop.model.Product">
    insert into product (pname, price,
      inventory, image, comment, 
      create_time, csid, state, buy_price,code
      )
    values (#{pname,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{inventory,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{csid,jdbcType=INTEGER}, #{state,jdbcType=BIT}, #{buyPrice,jdbcType=REAL},#{code,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateById" parameterType="com.zshop.model.Product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="pname != null">pname = #{pname,jdbcType=VARCHAR},</if>
            <if test="price != null">price = #{price,jdbcType=REAL},</if>
            <if test="inventory != null">inventory = #{inventory,jdbcType=INTEGER},</if>
            <if test="image != null">image = #{image,jdbcType=VARCHAR},</if>
            <if test="comment != null">comment = #{comment,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="csid != null">csid = #{csid,jdbcType=INTEGER},</if>
            <if test="state != null">state = #{state,jdbcType=BIT},</if>
            <if test="buyPrice != null">buy_price = #{buyPrice,jdbcType=REAL},</if>
            <if test="code != null">code = #{code,jdbcType=VARCHAR}</if>
        </trim>
        where pid = #{pid,jdbcType=INTEGER}
    </update>
    <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM product
  </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product
        where pname = #{pname,jdbcType=VARCHAR}
    </select>
    <select id="selectByLimit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product LIMIT #{offset},#{limit}
    </select>
    <select id="selectBySearchParam" parameterType="com.zshop.common.AdminSearchParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product
        <if test="searchParam != null">
            <where>
                <if test="searchParam.pname != null">pname LIKE CONCAT('%',#{searchParam.pname,jdbcType=VARCHAR},'%')
                </if>
                <if test="searchParam.pcode != null">AND code = #{searchParam.pcode,jdbcType=VARCHAR}</if>
                <if test="searchParam.pstate != null">AND state = #{searchParam.pstate,jdbcType=BIT}</if>
                <if test="searchParam.csids != null">
                    AND csid in
                    <foreach collection="searchParam.csids" item="csid" index="index" separator="," open="(" close=")">
                        #{csid,jdbcType=INTEGER}
                    </foreach>
                </if>
                <if test="searchParam.searchQuery != null">
                    AND
                    <foreach collection="searchParam.queryList" item="item" index="index"  separator="OR">
                        pname LIKE CONCAT('%',#{item},'%')
                    </foreach>
                </if>
            </where>
        </if>
        LIMIT #{offset},#{limit}
    </select>
    <select id="countByParam" parameterType="com.zshop.common.AdminSearchParam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product
        <if test="searchParam != null">
            <where>
                <if test="searchParam.pname != null">pname LIKE CONCAT('%',#{searchParam.pname,jdbcType=VARCHAR},'%')
                </if>
                <if test="searchParam.pcode != null">AND code = #{searchParam.pcode,jdbcType=VARCHAR}</if>
                <if test="searchParam.pstate != null">AND state = #{searchParam.pstate,jdbcType=BIT}</if>
                <if test="searchParam.csids != null">
                    AND csid in
                    <foreach collection="searchParam.csids" item="csid" index="index" separator="," open="(" close=")">
                        #{csid,jdbcType=INTEGER}
                    </foreach>
                </if>
                <if test="searchParam.searchQuery != null">
                    AND
                    <foreach collection="searchParam.queryList" item="item" index="index"  separator="OR">
                        pname LIKE CONCAT('%',#{item},'%')
                    </foreach>
                </if>
            </where>
        </if>
    </select>
</mapper>