/* ---------- HotProductCategory ---------- */
div.hotProductCategory {
    width: 216px;
    padding: 0px 6px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #e4e4e4;
}

div.hotProductCategory dl {
    overflow:hidden;
    display:block;
    margin: 15px 0;

    width: 216px;
    line-height: 40px;
    float: left;
    _float: none;
    border-bottom: solid 0px #f1f1f1;
}

div.hotProductCategory dl.last {
    border-bottom: none;
}

div.hotProductCategory dt a {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    color: #b1291e;
    font-size: 15px;
    margin-left: 10px;
}

div.hotProductCategory dd {
    width: 80px;
    float: left;
    padding-left: 10px;
    margin-top: 5px;
}